#headerContainer
{
	position:relative;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:60px;
	width:330px;
	height:200px;
	text-align:center;
	font-size:2em;
	background-image:url(./img/logo.png);
	background-repeat:no-repeat;
	background-size:contain;
}